* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 20px;
}

.container {
    width: 100%;
    max-width: 1280px;
    padding: 70px 20px;
    gap: 10px;
    border-radius: 40px 0px 0px 0px;
    background-color: #B22222;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
}

.sub-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1140px;
    gap: 40px;
    text-align: center;
}

.sub-container p {
    font-size: 2rem;
    font-weight: 300;
    line-height: 2.5rem;
}

.gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    max-width: 1200px;
    gap: 10px;
    padding: 10px;
}

.gallery-item {
    position: flex;
    width: 100%;
    max-width: 200px;
}

.gallery-item img {
    width: 100%;
    height: auto;
    transition: filter 0.3s ease;
}

.gallery-item:hover img {
    filter: blur(5px);
    transition: all ease-out 2ms;
}


@media (max-width: 768px) {
    .sub-container p {
        font-size: 1.5rem;
        line-height: 2rem;
    }

    .gallery-item {
        max-width: 45%;
    }
}

@media (max-width: 480px) {
    .sub-container p {
        font-size: 1.2rem;
        line-height: 1.5rem;
    }

    .gallery-item {
        max-width: 100%;
    }
}
